body {
    background-color: rgb(8, 13, 19);
    font-family: 'Roboto', sans-serif;

}
nav ul li {
    display: inline;
    margin: 0 15px;
  }
 nav ul li a {
    text-decoration: none;
    color: #69bf41;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
header {
    background-color: #32162c;
    margin: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    margin-bottom: -30px;
    font-size: 95px;
    color: #69bf41;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-align: center;
    letter-spacing: 3px;
}
#LM1{
    padding-bottom: 80px;
    font-size: 20px;
    color: #69bf41;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
#LM2 {
    font-size: 30px;
    color: #3c7920;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    padding-top: 0px;
    text-align: center;
}
img{
    width: 200px;
}