body { 
     background-color: rgb(148, 228, 44);
    font-family: Arial, helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}
h1 {
      color: black;
    font-size: 100px;
    font-family: Arial;  
}
p {
    color: black;
    font-size: 30px;
    font-family: Arial;  
    text-align: center;   
}  
ul {
    text-align: center;
    padding: 20px;
    letter-spacing: 2px;
}                
img {
    border-radius: 10px;
    margin-top: 0px;
}
footer {
    background-color: rgb(148, 228, 44);
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-family: Arial;  
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(5, 41, 2);
    border-width: 50px 10px 10px 10px;
}
header {
    background-color: rgb(114, 201, 0);
    padding: 10px;
    padding: 10px 10px 10px 10px;
}
nav a {
    color: rgb(0, 44, 13);
    text-decoration: lime;
    margin: 0 30px;
    font-size: 18px;
}
p{
    font-size: 30px
}